.dropbtn {
   position: absolute;

width: 200px;
height: 38px;
margin-left: 40px;
margin-bottom: 40px;

top: -7px;
line-height: 2em;

}
#USERinpage
{
  position: relative;
right: 5px;

}




  

  
  /* .dropbtn:hover, .dropbtn:focus {
    background-color: #797979;
  } */
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 1100px;
    text-align: center;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 151px;
    overflow: auto;
    margin-top: 27px;
    margin-left: 45px;
    backdrop-filter: blur(30px);
    z-index: 1;
   
    

  }
  
  .dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}