
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 19px;
    grid-auto-rows: minmax(10px, auto);
    outline: solid;
    
  background-color: rgb(150, 148, 148);
   
    width: 570px; height: 300px; margin: 0px auto;
margin-top: 40px;
    margin-left: 50px;
    
    /*border:solid black;
    border-width:10 5px;
    border-radius: 5px;


    overflow: hidden;
   

    border-top: solid black;*/
    line-height: normal;
  }
  .wrapper2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 19px;
    grid-auto-rows: minmax(10px, auto);
    outline: solid;
    
  background-color: rgb(150, 148, 148);
   
    width: 500px; height: 300px; margin: 0px auto;

    margin-top: -520px;

    margin-left: 750px;
    
    /*border:solid black;
    border-width:10 5px;
    border-radius: 5px;


    overflow: hidden;
   

    border-top: solid black;*/
    line-height: normal;
  }
  
  
  .one {
    
    grid-column: 1 / 3;
    grid-row: 1;
    /*border-right:solid black;
    border-bottom:solid black;
    border-width:1 10px;
    overflow: hidden;*/
  
    line-height: 45px;
    
  }
  .two {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    
    
  }
  .three {
    grid-column: 1;
    grid-row: 1  / 5;
    margin-left: 470px;
    width: 500px;

    /*border-right:solid black;

    border-top:solid black ;
    border-width:4 100px;*/
    
    
    
  }
  .four {
    grid-column: 1;
    grid-row: 2;
    margin-top: -50px ;
    margin-left: 0px;
    
  }
  .five {
    grid-column: 1;
    grid-row: 2;
    width: 565px;
    height: 200px;
    margin-left: 5px;
  overflow: scroll;
  overflow-x: hidden;
  }
  div.five th
  {
    background-color: white;
    position: sticky;
    top: 0px;
  }

  .six {
    grid-column: 3;
    grid-row: 1;
  }

  .CL {
    grid-column: 1 / 4;
    grid-row: 1;
    

    
    
    
  } 
.CL2 {
  grid-column: 1 / 4;
  grid-row: 1;
  
  
}
.CL3 {
  grid-column: 1;
  grid-row: 1  / 5;
  margin-top: 0px;
  margin-left: 350px;
  /*border-right:solid black;

  border-top:solid black ;
  border-width:4 100px;*/
  
  
  
}
.CL4 {
  grid-column: 1;
  grid-row: 2;
  
}
.CL5 {
  grid-column: 1;
  grid-row: 3;
  width: 490px;
  margin-top: -13px;
  margin-left: 10px;
  overflow: scroll;
  height: 200px;
  overflow-x: hidden;
}

  

div.CL5 th
{
  background-color: white;
  position: sticky;
  top: 0px;
}
.CL6 {
  grid-column: 3;
  grid-row: 4;
}
.button
{
display: flex;
flex-direction: row;
}
.btn_up
{
  margin-left: auto;
}



.plug
{
  
  outline: solid;
  outline-width: 2px;
  z-index: -1;
  margin-top: -100px;
  margin-left: -30px;
  position: absolute;
  width: 1371px;
  height: 130px;
  background-color: rgb(158, 158, 158);
  float: right;
  box-shadow: 0px,30px,20px,0px rgba(132, 132, 132, 0.8);
 
}
.blox
{

  z-index: -2;
  margin-top: -120px;
  margin-left: -40px;
  position: absolute;
  width: 1300px;
  height: 500px;
  background-color: rgb(65, 64, 64);
  float: right;
  outline: solid;
  
}
input[type='number']{
    width: 80px;
} 
.text1
{
  margin-top: 70px;
}
table#MYTABLE
{
    table-layout: fixed;
    width: 450px;
    white-space: nowrap;
   height: 20px;
    overflow: hidden;


  
}
table#MYTABLE2
{
    table-layout: fixed;
    width: 450px;
    white-space: nowrap;
   height: 20px;
    overflow: hidden;
}
table#MYTABLE{
  overflow: scroll;
  position: sticky;
  top: 0px;
  
}
#NOM
{
  
    table-layout: fixed;
    width: 150px;
}
#CANT
{
    table-layout: fixed;
    width: 100px;
}
#EST
{
    table-layout: fixed;
    width: 70px;
}
#DEL
{
    table-layout: fixed;
    width: 53px;
}
.CELL2
{
  resize: horizontal;
}

#NOM2
{
    table-layout: fixed;
    width: 150px;
}
#EST2
{
    table-layout: fixed;
    width: 70px;
}
#FDC
{
    table-layout: fixed;
    width: 140px;
}

#EDIT
{
    table-layout: fixed;
    width: 52px;
}
#Photo
{
    table-layout: fixed;
    width: 59px;
}
#ID1
{
    table-layout: fixed;
    width: 20px;
}
#DELCL
{
    table-layout: fixed;
    width: 50px;
}
#CL
{
    table-layout: fixed;
    width: 20px;
}